.modal-dialog {
    width: 70%;
    overflow: visible;
}

.modal-header {
    background-color: #337AB7;
    padding: 1px 1px;
    color: #FFF;
    border-bottom: 2px dashed #337AB7;
}

.modal-body {
    background-color: #888888;
    color: white;
}

.close {
    padding: 0 5px !important;
}