.instructions ul {
    list-style-type: decimal;
    margin-bottom: 45px;
}

.instructions h5 {
    color: lightgreen;
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
}

.instructions li {
    margin-bottom: 6px;
    font-weight: normal;
}

.instructions hr {
    padding-bottom: 10px;
}